In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
true=pd.read_csv("True (1).csv")
fake=pd.read_csv("Fake (1).csv")

In [3]:
true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [4]:
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [7]:
true.describe()

,title,text,subject,date
count,21417,21417,21417,21417
unique,20826,21192,2,716
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017"
freq,14,8,11272,182

In [8]:
fake.describe()

,title,text,subject,date
count,23481,23481,23481,23481
unique,17903,17455,6,1681
top,MEDIA IGNORES Time That Bill Clinton FIRED His...,,News,"May 10, 2017"
freq,6,626,9050,46

In [9]:
true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [10]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [11]:
true.shape

(21417, 4)

In [12]:
fake.shape

(23481, 4)

In [13]:
true.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [14]:
fake.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [15]:
true['lable']=1

In [16]:
fake['lable']=0

In [17]:
true.head()

,title,text,subject,date,lable
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [18]:
news=pd.concat([fake,true],axis=0)

In [19]:
news.head()

,title,text,subject,date,lable
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [20]:
news.tail()

,title,text,subject,date,lable
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [21]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
lable      0
dtype: int64

In [22]:
news=news.drop(['title','subject','date'],axis=1)

In [23]:
news.head()

                                                text  lable
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [24]:
news=news.sample(frac=1)

In [25]:
news.head()

                                                    text  lable
6550   WASHINGTON (Reuters) - U.S. President-elect Do...      1
7703   This is one Daily Show segment that every Repu...      0
20892  COPENHAGEN (Reuters) - Germany has jumped 10 s...      1
18218  WASHINGTON (Reuters) - U.S. military assistanc...      1
8191   The Tonight Show s Jimmy Fallon debuted his im...      0

In [26]:
news.reset_index(inplace=True)

In [27]:
news.head()

   index                                               text  lable
0   6550  WASHINGTON (Reuters) - U.S. President-elect Do...      1
1   7703  This is one Daily Show segment that every Repu...      0
2  20892  COPENHAGEN (Reuters) - Germany has jumped 10 s...      1
3  18218  WASHINGTON (Reuters) - U.S. military assistanc...      1
4   8191  The Tonight Show s Jimmy Fallon debuted his im...      0

In [28]:
news.drop(['index'],axis=1,inplace=True)

In [29]:
news.head()

                                                text  lable
0  WASHINGTON (Reuters) - U.S. President-elect Do...      1
1  This is one Daily Show segment that every Repu...      0
2  COPENHAGEN (Reuters) - Germany has jumped 10 s...      1
3  WASHINGTON (Reuters) - U.S. military assistanc...      1
4  The Tonight Show s Jimmy Fallon debuted his im...      0

In [30]:
import re

In [31]:
def  wordopt(text):
    #convert info lowercase
    text= text.lower()
    
    #Remove urls:
    text=re.sub(r'https?://\s+|www\.\s+', '',text)
    
     #Remove html logs:
    text=re.sub(r'<,*?>', '', text)
    
    #remove punctutaion:
    text=re.sub(r'[^\w\s]', '', text)
    
    #remove digits:
    text=re.sub(r'\d', '', text)
    
    #remove newline character:
    text=re.sub(r'\n', ' ', text)
        
    return text

In [32]:
import re

def wordopt(text):
    # Convert text to lowercase
    text = text.lower()
    
    # Remove URLs
    text = re.sub(r'https?://\s+|www\.\s+', '', text)
    
    # Remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    
    # Remove digits
    text = re.sub(r'\d', '', text)
    
    # Remove newline characters
    text = re.sub(r'\n', ' ', text)
    
    return text

In [33]:
# Print the columns of the DataFrame 'news'
print(news.columns)

# Check the first few rows of the DataFrame to inspect its structure
print(news.head())

# Ensure that the 'text' column is present in the DataFrame
if 'text' in news.columns:
    # Apply the wordopt function to the 'text' column
    news['text'] = news['text'].apply(wordopt)
else:
    print("Error: 'text' column not found in the DataFrame.")

Index(['text', 'lable'], dtype='object')
                                                text  lable
0  WASHINGTON (Reuters) - U.S. President-elect Do...      1
1  This is one Daily Show segment that every Repu...      0
2  COPENHAGEN (Reuters) - Germany has jumped 10 s...      1
3  WASHINGTON (Reuters) - U.S. military assistanc...      1
4  The Tonight Show s Jimmy Fallon debuted his im...      0

In [34]:
news['text'] = news['text'].apply(wordopt)

In [35]:
x=news['text']
y=news['lable']

In [36]:
y

0        1
1        0
2        1
3        1
4        0
        ..
44893    1
44894    1
44895    1
44896    0
44897    0
Name: lable, Length: 44898, dtype: int64

In [37]:
x

0        washington reuters  us presidentelect donald t...
1        this is one daily show segment that every repu...
2        copenhagen reuters  germany has jumped  slots ...
3        washington reuters  us military assistance for...
4        the tonight show s jimmy fallon debuted his im...
                               ...
44893    ankara reuters  iran said on tuesday us presid...
44894    the following statements were posted to the ve...
44895    washington reuters  the us state department ha...
44896    espn just made an amazing stand against bigotr...
44897    you know that feeling when you want to overthr...
Name: text, Length: 44898, dtype: object

In [44]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [45]:
x_train.shape

(31428,)

In [46]:
x_test.shape

(13470,)

In [47]:
y_train.shape

(31428,)

In [48]:
y_test.shape

(13470,)

In [49]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [50]:
vectorization = TfidfVectorizer()

In [51]:
xv_train= vectorization.fit_transform(x_train)

In [52]:
xv_test= vectorization.transform(x_test)

In [53]:
xv_test

<13470x176789 sparse matrix of type '<class 'numpy.float64'>'
	with 2734701 stored elements in Compressed Sparse Row format>

In [56]:
xv_train

<31428x176789 sparse matrix of type '<class 'numpy.float64'>'
	with 6447890 stored elements in Compressed Sparse Row format>

In [57]:
from sklearn.linear_model import LogisticRegression

In [58]:
LR= LogisticRegression()

In [59]:
LR.fit(xv_train,y_train)

LogisticRegression()

In [60]:
pred_LR= LR.predict(xv_test)

In [61]:
LR.score(xv_test,y_test)  #for score prediction

0.9884187082405346

In [62]:
from sklearn.metrics import classification_report

In [63]:
print(classification_report(pred_LR,y_test))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      7001
           1       0.99      0.99      0.99      6469

    accuracy                           0.99     13470
   macro avg       0.99      0.99      0.99     13470
weighted avg       0.99      0.99      0.99     13470

In [64]:
from sklearn.tree import DecisionTreeClassifier

In [65]:
DTC= DecisionTreeClassifier()

In [66]:
DTC.fit(xv_train,y_train)

DecisionTreeClassifier()

In [67]:
pred_DTC= DTC.predict(xv_test)

In [68]:
DTC.score(xv_test,y_test)

0.9962880475129918

In [69]:
print(classification_report(pred_DTC,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      7033
           1       1.00      1.00      1.00      6437

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470

In [70]:
from  sklearn.ensemble import RandomForestClassifier

In [71]:
rfc= RandomForestClassifier()

In [ ]:
rfc.fit(xv_train,y_train)

In [ ]:
pred_rfc= rfc.predict(xv_test)

In [ ]:
rfc.score(xv_test,y_test)

In [ ]:
print(classification_report(pred_rfc,y_test))

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
gbc= GradientBoostingClassifier()

In [ ]:
gbc.fit(xv_train,y_train)

In [ ]:
pred_gbc= gbc.predict(xv_test)

In [ ]:
gbc.score(xv_test,y_test)

In [ ]:
print(classification_report(pred_gbc,y_test))

In [ ]:
def output_label(n):
    if n==0:
        return "it is a fake news"
    elif  n == 1:
        return "it is a real news"

In [ ]:
def manual_testing(news):
    testing_news= {"text":[news]}  # corected syntax for defining derictory
    new_def_test= pd.Dataframe(testing_news)
    new_x_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_test=new_df_test["text"]
    new_xv_test= vectorization.transform(new_x_test)
    pred_lr= LR.predict(new_xv_test)
    pred_gbc= gbc.predict(new_xv_test)
    pred_rfc= rfc.predict(new_xv_test)
    return "\n\nLR Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(
        output_label(pred_lr[0]), output_label(pred_gbc[0]), output_label(pred_rfc[0]))

In [ ]:
news_article= str(input())

In [ ]:
news_article= str(input())